<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DBConnStr" value="Server=.\SQLEXPRESS;database=IMSHelper;uid=imshelper;pwd=q1w2e3r4"/>
    <add key="Interval" value="10"/>
    <add key="KpiInterval" value="5"/>
    <add key="MQServerURI" value="tcp://10.216.200.55:61616"/>
    <add key="QueueName" value="IMS.RawPerf"/>
  </appSettings>
</configuration>